<!--=====================================================
				Menu Button
            =====================================================-->


<a class='menu-btn'>
    <span class='lines'>
    <span class='l1' ></span>
    <span class='l2'></span>
    <span class='l3'></span>
    </span>
</a>


<!--=====================================================
          Menu
        =====================================================-->
<div class='menu'>
    <div class='inner'>
        <ul class='menu-items'>

            <li>
                <a href='#' class='section-toggle' data-section='intro'>
                  Inicio
                </a>
            </li>
            <li>
                <a href='#about' class='section-toggle' data-section='about'>
                  Sobre mí
                </a>
            </li>
            <li>
                <a href='#resume' class='section-toggle' data-section='resume'>
                  Información y Experiencia
                </a>
            </li>
            <li>
                <a href='#portfolio' class='section-toggle' data-section='portfolio'>
                  Portafolio
                </a>
            </li>
            <li>
                <a href='#contact' class='section-toggle' data-section='contact'>
                  Contáctame
                </a>
            </li>

        </ul>
    </div>
</div>

<div class='animation-block'></div>