<section id="contact" class="section contact-section border-d active">

    <div class="section-block contact-block">
        <div class="container-fluid">
            <div class="section-header">
                <h2> <strong class="color">{{ contactService.desc.titulo }}</strong></h2>
            </div>


            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact-form" data-toggle="validator" method="post" action="mail.php" novalidate="true">
                            <div id="contact-form-result"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                                            <mat-label>Ingrese su nombre</mat-label>
                                            <input [(ngModel)]="name" name="contactName" type="text" matInput placeholder="{{ contactService.desc.nombre }}">
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Ingrese su correo electrónico</mat-label>
                                            <input [(ngModel)]="correo" matInput placeholder="{{ contactService.desc.correo }}" [formControl]="email" required>
                                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                                    <mat-label>Ingrese asunto</mat-label>
                                    <input [(ngModel)]="subject" name="contactSubject" type="text" matInput placeholder="{{ contactService.desc.asunto }}">
                                </mat-form-field>

                            </div>

                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Ingrese mensaje</mat-label>
                                    <textarea [(ngModel)]="msj" name="contactMessage" matInput placeholder="{{ contactService.desc.mensaje }}"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="form-group text-center">

                                <button type="submit" class="btn-custom btn-color disabled" style="pointer-events: all; cursor: pointer;" (click)=" contactForm()">
                  {{ contactService.desc.enviar }}
                </button>
                            </div>

                        </form>

                    </div>


                </div>

                <div class="col-md-4">
                    <div class="contact-info-icons">
                        <div class="contact-info">
                            <i class="ion-ios-telephone-outline"></i>
                            <p>
                                <a href='https://wa.me/573177578549'>
                                    {{ contactService.desc.telefono }}<br>
                                </a>
                        </div>

                    </div>



                </div>


            </div>



        </div>

    </div>

</section>