<div *ngIf="portafolioService.proyect === 'Todo'">
    <ul class="portfolio-items shuffle " *ngFor="let proyecto of portafolioService.proyectos ; let i=index">
        <li class="col-md-3" data-groups='["web","tech"]'>
            <div class="inner">


                <img src="{{proyecto['imagenUrl']}}">

                <div class="overlay">

                    <a (click)="openDialog(proyecto)" class="view-project">
                                                Ver Proyecto
                                            </a>
                </div>
            </div>
        </li>

    </ul>
</div>

<div *ngIf="!portafolioService.proyectos" class="row about-block">
    <div class="col-md-12 ">
        <div class="alert" role="alert ">
            <h4 class="about-block "></h4>
            <h4>Por el momento no he subido proyectos de: {{portafolioService.termino}} 🥺😅</h4>
            <p class="mb-0 "></p>
        </div>

    </div>

</div>