<!--=====================================================
					Main Section
  =====================================================-->
<div class='sections'>
    <section id='intro' class='section section-main active'>

        <div class='container-fluid'>

            <div class='v-align'>
                <div class='inner'>
                    <div class='intro-text'>

                        <h1>I'm John Doe</h1>

                        <p>
                            A Friend, Dude and Buddy From Earth
                        </p>

                        <div class='intro-btns'>

                            <a href='#about' class='btn-custom section-toggle' data-section='about'>
                            Discover More
                          </a>

                            <a href='#contact' class='btn-custom section-toggle' data-section='contact'>
                            Hire Me
                          </a>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>
</div>