<!--=====================================================
					Main Section
  =====================================================-->

<section id='intro' class='section section-main active'>
    <div class='container-fluid' *ngIf="!principalService.carga">

        <div class='v-align'>
            <div class='inner'>
                <div class='intro-text'>


                    <h1>{{ principalService.info.titulo }}</h1>

                    <p>
                        {{ principalService.info.subtitulo }}
                    </p>

                    <div class='intro-btns'>

                        <a href='#about' class='btn-custom section-toggle' data-section='about'>
                            {{ principalService.info.descubre }}
                          </a>

                        <a href='#contact' class='btn-custom section-toggle' data-section='contact'>
                            {{ principalService.info.contactar }}
                          </a>

                    </div>

                </div>
            </div>

        </div>

    </div>