<!--=====================================================
			Preloader
		=====================================================-->
<div id='preloader'>
    <div class='loader'></div>
    <div class='left'></div>
    <div class='right'></div>
</div>


<div class='main-content'>

    <!--=====================================================
          Page Borders
        =====================================================-->
    <div class='page-border border-left'></div>
    <div class='page-border border-right'></div>
    <div class='page-border border-top'></div>
    <div class='page-border border-bottom'></div>
</div>