<diV class="animea">
</diV>

<div class='sections'>
    <section id='resume' class='section resume-section border-d active'>

        <div class="section-block timeline-block">

            <div class="container-fluid">

                <div class="section-header">

                    <h2>{{ resumeService.desc.education?.titulo }} <strong class="color">{{ resumeService.desc.education?.titulo2 }}</strong></h2>

                </div>

                <ul class="timeline">

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.education?.subtitulo }}</h4>

                            <em>
                  <span>{{ resumeService.desc.education?.subtituloInfo }}</span>
                  <span>{{ resumeService.desc.education?.year }}</span>
                </em>
                        </div>

                    </li>

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.education?.subtitulo2 }}</h4>

                            <em>
                  <span>{{ resumeService.desc.education?.subtituloInfo2 }}</span>
                  <span>{{ resumeService.desc.education?.year2 }}</span>
                </em>

                        </div>

                    </li>

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.education?.subtitulo3 }}</h4>

                            <em>
                  <span>{{ resumeService.desc.education?.subtituloInfo3 }}</span>
                  <span>{{ resumeService.desc.education?.year3 }}</span>
                </em>

                        </div>

                    </li>

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.education?.subtitulo4 }}</h4>

                            <em>
                      <span>{{ resumeService.desc.education?.subtituloInfo4 }}</span>
                      <span>{{ resumeService.desc.education?.year4 }}</span>
                    </em>


                        </div>

                    </li>

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.education?.subtitulo5 }}</h4>

                            <em>
                          <span>{{ resumeService.desc.education?.subtituloInfo5 }}</span>
                          <span>{{ resumeService.desc.education?.year5 }}</span>
                        </em>

                        </div>

                    </li>

                </ul>

            </div>

        </div>
        <div class="section-block timeline-block">

            <div class="container-fluid">

                <div class="section-header">

                    <h2>{{ resumeService.desc.experience?.titulo }} <strong class="color">{{ resumeService.desc.experience?.titulo2 }} </strong></h2>

                </div>

                <ul class="timeline">

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.experience?.info }} </h4>

                            <em>
                  <span>{{ resumeService.desc.experience?.subtitulo }} </span>
                  <span>{{ resumeService.desc.experience?.year }} </span>
                </em>

                            <p>
                                {{ resumeService.desc.experience?.descripcion }}
                            </p>

                        </div>

                    </li>

                    <li>

                        <div class="timeline-content">

                            <h4>{{ resumeService.desc.experience?.info2 }} </h4>

                            <em>
                  <span>{{ resumeService.desc.experience?.subtitulo2 }} </span>
                  <span>{{ resumeService.desc.experience?.year2 }} </span>
                </em>

                            <p>
                                {{ resumeService.desc.experience?.descripcion2 }}
                            </p>

                        </div>

                    </li>

                </ul>

            </div>

        </div>
    </section>
</div>