<diV class="animea">
</diV>

<div class='sections'>
    <section id='resume' class='section resume-section border-d active'>

        <div class="section-block timeline-block">

            <div class="container-fluid">

                <div class="section-header">

                    <h2>{{resumeService.desc.title1 | slice:0:3}}<strong class="color">{{resumeService.desc.title1 | slice:3}}</strong></h2>

                </div>

                <ul class="timeline" *ngFor="let item of resumeService.education">
                    <li>
                        <div class="timeline-content">
                            <h4>{{ item.estudio}}</h4>
                            <em>
                  <span>{{item.titulo}}</span>
                  <span>{{item.year}}, {{item.lugar}}</span>
                </em>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
        <div class="section-block timeline-block">

            <div class="container-fluid">

                <div class="section-header">

                    <h2>{{resumeService.desc.title2 | slice:0:3}} <strong class="color">{{resumeService.desc.title2 | slice:3}}</strong></h2>

                </div>

                <ul class="timeline" *ngFor="let item of resumeService.experiencia">

                    <li>

                        <div class="timeline-content">

                            <h4>{{item.empresa}} </h4>

                            <em>
                  <span>{{item.funcion}} </span>
                  <span>{{item.year}}</span>
                </em>

                            <p>
                                {{item.informacion}}
                            </p>

                        </div>

                    </li>

                </ul>

            </div>

        </div> -->
    </section>
</div>