<!--=====================================================
					Portfolio Section
  =====================================================-->

<div class='sections fade.in'>
    <section id="portfolio" class="section portfolio-section border-d active">

        <div class="section-block portfolio-block">

            <div class="container-fluid">


                <div class="section-header">
                    <h2>{{portafolioService.desc.titulo | slice:0:3}} <strong class="color">{{portafolioService.desc.titulo | slice:3}}</strong></h2>
                </div>

                <ul class="portfolio-filters">
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub1)" data-group="all">
                            {{portafolioService.desc.sub1}}
                        </a>
                    </li>
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub2)" data-group="web">
                            {{portafolioService.desc.sub2}}
                        </a>
                    </li>
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub3)" data-group="tech">
                            {{portafolioService.desc.sub3}}
                        </a>
                    </li>
                </ul>
                <br>
                <app-tarjeta></app-tarjeta>

            </div>
        </div>

    </section>
</div>