<!--=====================================================
					Portfolio Section
  =====================================================-->

<div class='sections fade.in'>
    <section id="portfolio" class="section portfolio-section border-d active">

        <div class="section-block portfolio-block">

            <div class="container-fluid">


                <div class="section-header">
                    <h2>{{portafolioService.desc.titulo | slice:0:3}} <strong class="color">{{portafolioService.desc.titulo | slice:3}}</strong></h2>
                </div>
                <!-- <ul class="portfolio-filters">
                  <li>
                      <a href="#" class="" data-group="all">
                              All
                          </a>
                  </li>
                  <li>
                      <a href="#" data-group="web" class="active">
                              Web
                          </a>
                  </li>
                  <li>
                      <a href="#" data-group="tech">
                              Tech
                          </a>
                  </li>
                  <li>
                      <a href="#" data-group="photography">
                              Photography
                          </a>
                  </li>
              </ul> -->

                <ul class="portfolio-filters">
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub1)" [ngClass]="{'texto1': propiedades.primero, 'active': !propiedades.primero}">
                            {{portafolioService.desc.sub1}}
                        </a>
                    </li>
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub2)" [ngClass]="{'texto1': propiedades.segundo, 'active': !propiedades.segundo}">
                            {{portafolioService.desc.sub2}}
                        </a>
                    </li>
                    <li>
                        <a (click)="buscar(portafolioService.desc.sub3)" [ngClass]="{'texto1': propiedades.tercero, 'active': !propiedades.tercero}">
                            {{portafolioService.desc.sub3}}
                        </a>
                    </li>
                </ul>
                <br>
                <app-tarjeta></app-tarjeta>

            </div>
        </div>

    </section>
</div>
