<!--=====================================================
					Portfolio Section
  =====================================================-->

<div class='sections fade.in'>
    <section id="portfolio" class="section portfolio-section border-d active">

        <div class="section-block portfolio-block">

            <div class="container-fluid">


                <div class="section-header">
                    <h2>{{portafolioService.desc.datos.titulo | slice:0:3}} <strong class="color">{{portafolioService.desc.datos.titulo | slice:3}}</strong></h2>
                </div>

                <ul class="portfolio-filters">
                    <li>
                        <a href="#" class="active" data-group="all">
                            {{portafolioService.desc.datos.sub1}}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-group="web" class="">
                            {{portafolioService.desc.datos.sub2}}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-group="tech" class="">
                            {{portafolioService.desc.datos.sub3}}
                        </a>
                    </li>
                </ul>




                <ul class="portfolio-items shuffle " *ngFor="let proyecto of portafolioService.proyectos ; let i=index">
                    <li class="col-md-3">
                        <div class="inner">


                            <img src="{{proyecto['imagenUrl']}}">

                            <div class="overlay">

                                <a (click)="openDialog(proyecto)" class="view-project">
                                            Ver Proyecto
                                        </a>


                            </div>

                        </div>
                    </li>

                </ul>




            </div>
        </div>

    </section>
</div>